{% extends 'base.html' %}

{% load static %}

{% block javascript %}
    <script src="{% static 'profiles/js/profiles.js' %}"></script>
{% endblock %}

{% block content %}
<h1>Profiles</h1>
<p>
    <!-- Button trigger modal -->
    <button type="button"
            class="btn btn-primary js-create-profile"
            data-toggle="modal"
            data-target="#modal-book">
        Add profile
    </button>
</p>
<table class="table" id="profile-table">
    <thead>
        <tr>
            <th>#</th>
            <th>First name</th>
            <th>Middle name</th>
            <th>Last name</th>
            <th>Birth date</th>
            <th>Gender</th>
        </tr>
    </thead>
    <tbody>
        {% include 'profiles/includes/partial_profile_list.html' %}
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="modal-profile" tabindex="-1" role="dialog" aria-labelledby="modal-profile" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            
        </div>
    </div>
</div>
{% endblock %}