{% for profile in profiles %}
    <tr>
        <td>{{ profile.id }}</td>
        <td>{{ profile.fname }}</td>
        <td>{{ profile.mname }}</td>
        <td>{{ profile.lname }}</td>
        <td>{{ profile.birth_date }}</td>
        <td>{{ profile.get_gender_display }}</td>
        <td>
            <button type="button"
                class="btn btn-warning btn-sm js-update-profile"
                data-url="{% url 'profile_update' profile.id %}">
                Edit
            </button>
            <button type="button"
                    class="btn btn-danger btn-sm js-delete-profile"
                    data-url="{% url 'profile_delete' profile.id %}">
                Delete
            </button>
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="7" class="text-center bg-warning">No records</td>
    </tr>
{% endfor %}